{% load static %}
 <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              ContentLancers is a leading online platform for outsourcing high-quality websites
              and blog content quickly and easily. Thanks to a network of expert content writers and creators,
              a broad range of value-added services, and flexible solutions, ContentLancers enables individuals
              and companies to scale up their online presence and brand competition.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We guarantee you quality</li>
              <li><i class="ri-check-double-line"></i> Fast turnaround</li>
              <li><i class="ri-check-double-line"></i> Simple ordering process</li>
              <li><i class="ri-check-double-line"></i> Competitive pricing</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Whether you need persuasive product descriptions, compelling press releases, or captivating blog posts,
              we’ve got thousands of approved native writers ready to deliver quality content.
              Together with our seasoned in-house editors and support, the ContentLancers family
              strives every day to provide world-class quality to our clients.
            </p>
            <a href="#" class="btn-learn-more">Create an account</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->