{% load static %}
<!-- ======= Services Section ======= -->
    <section id="authors" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Author Area</h2>
          <p>By joining the ContentLancers community, you will gain access to the leading network of freelance content creators.
With our intuitive platform and cutting-edge technology, you are 100% independent and free to choose the customers you wish to work with!</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Enjoy the benefits of our reliable platform</a></h4>
              <p>Get access to unending tasks and get paid promptly through PayPal or Payoneer.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Work on a wide range of tasks</a></h4>
              <p>Choose tasks you are confortable with from numerous available categories.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Join a professional community</a></h4>
              <p>Our senior authors will guide you through and provid any needed help.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Instant task notifications</a></h4>
              <p>Get email notifications whenever there's a new task for you.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->