{% load static %}
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><img src="{% static 'assets/img/logo.png' %}"></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/cl">Home</a></li>
          <li><a href="{% url 'about-cl' %}">About CL</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'pricing' %}">Pricing</a></li>
          {% if user.is_authenticated %}
          {% if user.userrole == '2'  %}
           <li><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
          {% endif %}
          {% if user.userrole == '3'  %}
           <li><a href="{% url 'client-dashboard' %}">Dashboard</a></li>
          {% endif %}
          {% if user.userrole == '4'  %}
           <li><a href="{% url 'writer-dashboard' %}">Dashboard</a></li>
          {% endif %}
          <li><a href="{% url 'login' %}"><button class="btn btn-info" type="button" value="Login">Logout</button></a></li>
          {% else %}
          <li><a href="{% url 'login' %}"><button class="btn btn-info" type="button" value="Login">Login</button></a></li>
          {% endif %}
          <li><a href="{% url 'authors' %}">Author Area</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->