{% extends "home.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<!-- ======= Pricing Section ======= -->
    <section style="margin-top: 50px;" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>At ContentLancers, we offer flexible content creations pricing that matches your needs. <br>
            Choose your convenient level of service.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Basic Plan</h3>
              <h4><sup>$</sup>{{ basic|floatformat:3 }}<span>per word</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> A La Carte Pricing.</li>
                <li><i class="bx bx-check"></i> Affordable.</li>
                <li><i class="bx bx-check"></i> Account Management Option.</li>
              </ul>
              <a href="{% url 'signup' %}" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Standard Plan</h3>
              <h4><sup>$</sup>{{ standard|floatformat:3 }}<span>per word</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Starting from ${{ standard|floatformat:3 }} per word.</li>
                <li><i class="bx bx-check"></i> Standard content for general projects </li>
                <li><i class="bx bx-check"></i> Basic editorial content.</li>
              </ul>
              <a href="{% url 'signup' %}" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Enterprice Plan</h3>
              <h4><sup>$</sup>{{ expert|floatformat:3 }}<span>per word</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Starts from ${{ expert|floatformat:3 }} per word.</li>
                <li><i class="bx bx-check"></i> Written by advanced authors.</li>
                <li><i class="bx bx-check"></i> B2B Content Marketing.</li>
              </ul>
              <a href="{% url 'signup' %}" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
{% endblock %}