{% load static %}
<!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What We Do</h2>
          <p>
            We endeavor to bring you quality content as and whenever you need it.<br>
          at affordable rates
          </p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Website Content</a></h4>
              <p>Having a 100% unique, quality web content is crucial for an online business to thrive.
                Accessing professional services has never been easier as it is with ContentLancers.
                With more than 50 areas of expertise in our writers’ network, you are guaranteed to have a
                specialist in your field. We strive to create content that engages your online audience and increase
                traffic by providing top-notch writing services. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">SEO Content</a></h4>
              <p>Individuals and businesses must have the right SEO web content to attract and convert an
                audience to customers. SEO writing is an integral part of ContentLancers’ digital marketing
                strategy to boost your search engine rankings. Our SEO content writing team will provide a
                key-word focused copy that is interesting to read and targeted to pull and convert traffic to your site. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Blog Content</a></h4>
              <p>Content marketing is vital to expand your target clientele and build lasting relationships.
                This calls for interesting and well-researched content which your readers will want to share.
                Our blog content writing services allow you to have regular, up-to-date, high-quality blog posts
                from the very best native writers from all over the world. Whatever the volume and topics you choose,
                we will avail to you the most qualified blog writers to create exceptional content to your specifications. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Product Descriptions</a></h4>
              <p>Your online stores need engaging and convincing content that is optimized to rank well in search engines.
                Our professional product description writers will create eCommerce content that sells and converts visitors to
                loyal customers. We will deliver unique product descriptions content is search engine optimized and appealing to customers.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->