{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
<div id="add-task-div" class="col-lg-12">

        <div id="task-description">
            <div>
              <h5>Describe your task</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3" id="frm-task-description" action="#" method="post">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="task-title" placeholder="Task Title" maxlength="180" autocomplete="off">
                    <label for="task-title">Task Title (180 characters max)</label>
                  </div>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                <div style="margin-top: 30px; margin-bottom: 10px;"></div>
                <input style="height: 50px;" type="text" class="form-control" id="word-count" name="word-count" placeholder="Word Count" autocomplete="off">
                </div>
                </div>

                <div class="col-md-8">
                <div class="form-group">
                <div style="margin-top: 35px; margin-bottom: 10px;"></div>

                <div style="height: 50px; margin-top: 40px;">
                <label class="radio-inline ms-3">
                <input type="radio" id="plus-minus-10" name="wc-description" value="plus_minus_10_perc" checked> +/- 10%
                </label>
                <label class="radio-inline ms-3">
                <input type="radio" id="min" name="wc-description" value="min"> Min
                </label>
                <label class="radio-inline ms-3">
                <input type="radio" id="max" name="wc-description" value="max"> Max
                </label>
                </div>
                </div>
                </div>

                <div style="margin-bottom: 10px;" class="col-md-12">
                <div>Keywords: Only enter keywords here; enter instructions in the Special Instructions field below. Separate keywords by a comma; do not use any other punctuation. Keywords are case sensitive.</div>
                <textarea style="height: 80px;" class="form-control mt-2" placeholder="Keywords..." id="keywords" name="keywords"></textarea>
                </div>

                  <div class="col-lg-4">
                    <div class="form-floating">
                    <select class="form-select" id="keyword-repetition" name="keyword-repetition" aria-label="State">
                    <option value="" selected>Choose Keyword Repetition...</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    </select>
                    <label for="keyword-repetition">Keyword Repetition</label>
                  </div>
                </div>

                <div class="col-lg-12">
                <br><div>Instructions</div>
                    <div class="form-group">
                    <!-- TinyMCE Editor -->
                    <textarea id="task-instructions" class="tinymce-editor"></textarea>
                    <!-- End TinyMCE Editor -->
                    </div>
                </div>

                <div style="margin-bottom: 50px;" class="col-md-12">
                <div style="margin-bottom: 10px;"><em>(These intructions remain private until the author agrees to work on the document)</em></div>
                </div>


                      <div class="col-md-12">
                              <div>Upload helper file. Only PDF and Word documents are allowed</div>
                            <div class="preview-zone hidden">
                              <div class="box box-solid">
                                <div class="box-header with-border">
                                  <div class="pull-left"><b>Preview</b></div>
<!--                                  <div class="box-tools pull-right">-->
<!--                                    <button type="button" class="btn btn-outline-danger btn-xs remove-preview">-->
<!--                                      <i class="bi bi-plus"></i> Reset-->
<!--                                    </button>-->
<!--                                  </div>-->
                                </div>
                                <div class="box-body"></div>
                              </div>
                            </div>
                            <div class="dropzone-wrapper">
                              <div class="dropzone-desc">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                <p id="msg">Choose helper file or drag it here.</p>
                              </div>
                              <input type="file" id="help-doc" name="help-doc" class="dropzone">
                            </div>
                          </div>
                <div class="card-footer">
                <div class="text-left">
                <button id="btn-hold-save-task" type="submit" class="btn btn-outline-success">Proceed to choose task options</button>
                </div>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>




    <div id="task-options" style="display: none;" >
            <div>
              <h5>Task Options</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3" id="frm-task-options" action="#" method="post">
                <div class="col-md-4">
                    <label class="card">
                    <input style="border: 0;" name="writer-level" id="basic" value="basic" class="radio" type="radio">
                    <span class="plan-details">
                      <span class="plan-type">A La Carte </span>
                      <span class="plan-cost">$0.08 / Word</span>
                      <p class="description">Affordable basic pricing</p>
                    </span>
                  </label>
                </div>
                <div class="col-md-4">
                <label class="card">
                    <input style="border: 0;" name="writer-level" id="standard" value="standard" class="radio" type="radio" checked>
                    <span class="plan-details" aria-hidden="true">
                      <span class="plan-type">Standard</span>
                      <span class="plan-cost">$0.088 / Word</span>
                      <p class="description">Handled by qualified native speakers, this level is good for general content orders</p>
                    </span>
                  </label>
                </div>
                <div class="col-md-4">
                    <label class="card">
                    <input style="border: 0;" name="writer-level" id="expert" value="expert" class="radio" type="radio">
                    <span class="plan-details" aria-hidden="true">
                      <span class="plan-type">Enterprise</span>
                      <span class="plan-cost">$0.14 / Word</span>
                      <p class="description">Managed by our most experienced writers. Best for more complex orders</p>
                    </span>
                  </label>
                </div>


                  <table class="table">
								<tr>
								<td>
									<strong>EXTRA PROOFREADING</strong> <br>
									The project will be proofread by our language managers. <br>
                                    <em class="small"><strong>+$0.02 Per Word</strong></em>
								</td>
								<td>
                                    <div class="form-check">
                                    <input style="height: 30px; width: 30px;" class="form-check-input" type="checkbox" id="extra-proofreading" value="yes">
                                    </div>
								</td>
								</tr>
								<tr>
								<td>
                                <strong>PRIORITY ORDER (SET DEADLINE)</strong> <br>
                                Your project will be assigned a higher priority status. <br>
                                <em class="small"><strong>+$0.04 Per Word</strong></em>

                                <div id="deadline-div" style="margin-top: 20px; display: none;" class="col-md-6">
                                <label for="deadline"><strong>Deadline</strong></label>
                                <input id="deadline"  type="date" class="form-control">
                                </div>

								</td>

								<td>
                                    <div class="form-check">
                                    <input style="height: 30px; width: 30px;" class="form-check-input" type="checkbox" id="priority-order" value="yes">
                                    </div>
								</td>
								</tr>
                                <tr>
								<td>
									<strong>FAVORITE WRITERS</strong> <br>
									Limit this order to my favorite writers. <br>
								</td>
								<td>
                                    <div class="form-check">
                                    <input style="height: 30px; width: 30px;" class="form-check-input" type="checkbox" id="favorite-writers" value="yes" >
                                    </div>
								</td>
								</tr>
								</table>


                <div>
                <div class="text-left">
                    <input id="project-code" type="hidden" value="{{ project_code }}">
                    <button id="back-to-task-description" type="button" class="btn btn-outline-secondary">Back</button>
                    <button id="btn-save-task" type="button" class="btn btn-outline-success">Save Task</button>
                </div>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>

</div><!-- End Right side columns -->
</div>


{% endblock %}