{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
        <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width: 50%;" scope="col">Title</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                  <tr id="project-{{ project.p_code }}">
                    <td style="width: 40%; vertical-align: bottom;">{{ project.p_title }}</th>
                    <td style="vertical-align: bottom;">{{ project.p_owner }}</td>
                    <td style="vertical-align: bottom;"><strong>USD {{ project.p_usd_cost|floatformat:2 }}</strong></td>
                    <td style="vertical-align: bottom;">{{ project.p_datetime|timesince }} ago</td>
                    <td style="vertical-align: bottom;">
                        <a href="{% url 'project-tasks' project.p_code %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-alarm me-1"></i> View Tasks</button></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
    </div><!-- End Right side columns -->
</div>
{% endblock %}