<div class="modal fade" id="modal-admin-return-task" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
           <div class="form-group">
            <label for="admin-return-task-reason">Brief Explanation</label>
            <textarea class="form-control mt-2" id="admin-return-task-reason" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
            <input id="admin-return-task-code" type="hidden">
          <button id="admin-actual-return-admin-approved-task" type="button" class="btn btn-outline-info">Confirm and Return</button>
        </div>
      </div>
    </div>
  </div>