{% extends "index.html" %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Draft Tasks</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-back"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ drafts_count }}</h6>
                      <span class="text-muted small pt-2 ps-1"><a class="brown" href="{% url 'admin-draft-tasks' %}">View Tasks</a></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Pending Tasks</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-intersect"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ wip_count }}</h6>
                      <span class="text-muted small pt-2 ps-1"><a class="brown" href="{% url 'admin-pending-tasks' %}">View Tasks</a></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

             <!-- Customers Card -->
            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Revision Tasks</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-slash-square"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ revision_count }}</h6>
                     <span class="text-muted small pt-2 ps-1"><a class="brown" href="{% url 'admin-revision-tasks' %}">View Tasks</a></span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Customers Card -->
            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Completed Tasks</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bag-check"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ complete_count }}</h6>
                      <span class="text-muted small pt-2 ps-1"><a class="brown" href="{% url 'admin-complete-tasks' %}">View Tasks</a></span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->


            <!-- Reports -->
            <div class="col-12">

            {% if non_paids %}

            <div id="card-{{ task.t_task_code }}" class="card">
            <div class="card-body">
              <h5 class="card-title">Pending Payments</h5>
            <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width: 40%;" scope="col">Task Title</th>
                    <th scope="col">Words</th>
                    <th scope="col">Due</th>
                    <th scope="col">Task Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for task in non_paids %}
                  <tr id="tr-{{ task.t_task_code }}">
                    <td style="width: 40%; vertical-align: bottom;">{{ task.t_title }}</th>
                    <td style="vertical-align: bottom;">{{ task.t_word_count }}</td>
                    <td style="vertical-align: bottom;"><strong>USD {{ task.t_usd_payout|floatformat:2 }}</strong></td>
                    <td style="vertical-align: bottom;">{{ task.t_datetime }}</td>
                   <td style="vertical-align: bottom;"> <button id="admin-pay-{{ task.t_task_code }}" type="button" class="btn btn-outline-success admin-pay"><i class="bi bi-check-circle me-1"></i> Log Payment</button></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

            </div><!-- End Card with header and footer -->



            {% else %}

            <div class="alert alert-primary fade show" role="alert">
            <h4 class="alert-heading">No pending payment!</h4><hr>
            <p class="mb-0">There are no pending payments at the moment.</p>
            </div>
            {% endif %}

            </div><!-- End Reports -->

          </div>
        </div><!-- End Left side columns -->
      </div>
{% endblock %}