{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Admins</h5>
                <a href="{% url 'add-admin' %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-person-plus-fill me-1"></i> Add New</button></a>
                <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Join Date</th>
                  </tr>
                </thead>
                <tbody>
                {% for admin in admins %}
                  <tr>
                    <td style="width: 40%; vertical-align: bottom;">{{ admin.first_name }} {{ writer.last_name }}</th>
                    <td style="vertical-align: bottom;">{{ admin.email }}</td>
                    <td style="vertical-align: bottom;">{{ admin.phone }}</td>
                    <td style="vertical-align: bottom;">{{ admin.date_joined }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

          </div><!-- End Card with header and footer -->
    </div><!-- End Right side columns -->
      </div>
</div>
{% endblock %}