{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
<div class="col-lg-12">
{% if tasks %}
{% if user.userrole == '4' or user.userrole == '2' %}

    <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width: 40%;" scope="col">Task Title</th>
                    <th scope="col">Words</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr id="card-{{ task.t_task_code }}">
                    <td style="width: 40%; vertical-align: bottom;">
                      <strong>Category: {{ task.t_project_category }}</strong><br>
                      {{ task.t_title }} -- <em class="orange">{{ task.t_owner_names }}</em>
                    </td>
                    <td style="vertical-align: bottom;">{{ task.t_word_count }}</td>
                    <td style="vertical-align: bottom;"><strong>${{ task.t_usd_payout|floatformat:2 }}</strong></td>
                    <td style="vertical-align: bottom;">{{ task.t_writer_deadline }}</td>
                    <td style="vertical-align: bottom;">
                    {% if user.userrole == '4' %}
                    <button id="pick-task-{{ task.t_task_code }}" type="button" class="btn btn-outline-success pick-task"><i class="bi bi-check-circle me-1"></i> Claim</button>
                    {% elif user.userrole == '2' %}
                    <button id="withdraw-task-{{ task.t_task_code }}" type="button" class="btn btn-outline-success withdraw-task"><i class="bi bi-check-circle me-1"></i> Withdraw Task</button>
                    {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

    {% else %}
    <div>You are not permitted to access this page</div>
    {% endif %}
     {% else %}
    <div class="alert alert-primary fade show" role="alert">
    <h4 class="alert-heading">No tasks!</h4><hr>
    <p class="mb-0">You have no available tasks at the moment.</p>
    </div>
    {% endif %}
    </div><!-- End Right side columns -->
      </div>
{% endblock %}