{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
<div class="col-lg-6">
          <div id="card-{{ task.t_task_code }}" class="card">
            <div class="card-body">

              <h5 class="card-title">{{ project_title }}</h5>
                {% if project_cost > 1 %}
                <p style="font-size: 30px; font-weight: bold;">${{ project_cost|floatformat:2 }}</p>

    <div id="paypal-button-container"></div>

      <script src="https://www.paypal.com/sdk/js?client-id=AWHDW_t7Hh39dkOPGNPBfUs0d_LJVSYZ116cW_aJ8_Nk71b8oKxMo50RvEmhygYWG5Ldm3GV92AlpReV&currency=USD"></script>

      <script>
        paypal.Buttons({

             style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ project_cost }}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                completeOrder()
                    swal({
                            title: "Success!",
                            text: "Payment received successfully. Your project has been submitted.",
                            icon: "success",
                            });
                });
            }
        }).render('#paypal-button-container');


        function completeOrder(){
        var url = "{% url 'payment-complete' %}"
        var project_code = '{{ project_code }}'
        var csrftoken = readCookie('csrftoken');

        fetch(url,
        { method: 'POST',
            headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({"project_code": project_code})
            }
        )
        }
    </script>
{% else %}
    <div class="alert alert-primary fade show" role="alert">
    <h4 class="alert-heading">Incomplete project!</h4><hr>
    <p class="mb-0">Your project should have atleast one task.</p>
    </div>
{% endif %}


            </div>
          </div><!-- End Card with header and footer -->


    </div><!-- End Right side columns -->
    </div>
{% endblock %}