{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div>
            <div>
              <h5>Completed Tasks</h5>

                <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width: 40%;" scope="col">Title</th>
                    <th scope="col">Words</th>
                    <th scope="col">Amt Paid</th>
                    <th scope="col">Task Date</th>
                  </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr>
                    <td style="width: 40%; vertical-align: bottom;"><a href="{% url 'task-article' task.t_task_code %}">{{ task.t_title }}</a></th>
                    <td style="vertical-align: bottom;">{{ task.t_word_count }}</td>
                    <td style="vertical-align: bottom;"><strong>USD {{ task.t_usd_cost|floatformat:2 }}</strong></td>
                    <td style="vertical-align: bottom;">{{ task.t_datetime }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

          </div><!-- End Card with header and footer -->
    </div><!-- End Right side columns -->
      </div>
</div>
{% endblock %}