{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
<div class="col-lg-12">

        <div style="display: none;" id="create-project-response">
            <h5 style="color: green;">Your project has been created!</h5>
              <div class="col-12">
                <div class="col-md-12 form-group">
                  <div style="margin-top: 5px;"><a href="{% url 'page-my-projects' %}">Click here to view your projects and add a task(s)</a></div>
                </div>
              </div>
      </div>

        <div id="create-project-form">
              <h5>Help us understand your project</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3" id="frm-create-project" action="#" method="post">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="project-title" placeholder="Project Title" maxlength="180" autocomplete="off">
                    <label for="project-title">Project Title (180 characters max)</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <select class="form-select" id="project-language" aria-label="State">
                      <option value="" selected>Choose Language...</option>
                      <optgroup label="Common Languanges">
                      <option value="EN-US">English (American)</option>
                      <option value="EN-GB">English (British)</option>
                      <option value="EN-AU">English (Australian)</option>
                      <option value="EN-CA">English (Canadian)</option>
                      </optgroup>
                      <optgroup label="Other Languages">
                      <option value="EN-IN">English (Indian)</option>
                      <option value="EN-PH">English (Philippine)</option>
                      <option value="EN-UG">English (Ugandan)</option>
                      <option value="EN-NL">Dutch (Netherlands)</option>
                      <option value="EN-FI">Finnish (Finland)</option>
                      <option value="EN-BE">Flemish (Belgium)</option>
                      </optgroup>
                    </select>
                    <label for="project-language">Language</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <select class="form-select" id="project-category" aria-label="State">
                      <option value="" selected>Choose Category...</option>
                      {% for category in categories %}
                      <option value="{{ category.c_name }}">{{ category.c_description }}</option>
                      {% endfor %}
                    </select>
                    <label for="project-category">Category</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="col-md-12 form-group">
                <div style="margin-top: 30px; margin-bottom: 10px;">Brief project description. <br>
                Give us any specific project requirements.</div>
                <!-- TinyMCE Editor -->
                <textarea id="project-description" class="tinymce-editor">
                {{ article }}
                </textarea>
                <!-- End TinyMCE Editor -->

                </div>
                </div>

                <div class="text-left">
                  <button type="submit" class="btn btn-outline-success">Save Project</button>
                </div>
              </form><!-- End floating Labels Form -->
          </div>

</div><!-- End Right side columns -->
</div>
{% endblock %}