{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
    <div class="col-lg-12">

<div id="card-{{ data.t_task_code }}" class="card">
     {% if data.t_status == 'writerdraft' %}
            <div class="card-body">
            <h5 class="card-title">
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-task-instructions">
            <i class="bi bi-info-circle ms-1"></i> View Instructions</button>
            <span style="font-size: 20px; font-style: bold;" id="word-count"></span>
            <span id="set-word-count" style="font-size: 20px; font-style: bold; display: none;">/{{ data.t_word_count }} words</span></h5>

            <!-- Quill Editor Default -->
            <div id="article" style="height: 350px;" class="quill-editor-default">
            {{ article }}
            </div>
            <!-- End Quill Editor Default -->
            </div>
            <div class="card-footer">
                 <input id="task-code" type="hidden" value="{{ data.t_task_code }}">

                <button id="btn-save-do-task" type="button" class="btn btn-outline-primary"><i class="bi bi-save me-1"></i> Save Draft</button>

                <button style="display: none;" id="writer-submit-task-{{ data.t_task_code }}" type="button" class="btn btn-outline-success writer-submit-task"><i class="bi bi-arrow-return-right me-1"></i> Submit for Review</button>
            </div>
            {% else %}
            <div class="card-body">
                <h5 class="card-title">Task already submitted</h5>
                <p>This task has already been submitted</p>
                <a href="{% url 'page-my-drafts' %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-save me-1"></i> Back to drafts</button></a>
            </div>
            {% endif %}

          </div>

    </div><!-- End Right side columns -->
      </div>
{% include "task-instructions-modal.html" %}
{% endblock %}