{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
    <div class="col-lg-12">

<div id="card-{{ data.t_task_code }}">
     {% if data.t_status == 'writerdraft' or data.t_status == 'adminwriterreturned' or data.t_status == 'clientwriterreturned' %}
            <div>
            <h5>
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal-task-instructions">
            <i class="bi bi-info-circle ms-1"></i> View Instructions</button>
            <span style="font-size: 20px; font-style: bold;" id="word-count"></span>
            <span id="set-word-count" style="font-size: 20px; font-style: bold;">Words Required: {{ data.t_word_count }}</span>
            </h5>
            <h5 class="orange"><strong>Deadline: {{ data.t_writer_deadline }}</strong></h5>
            <!-- TinyMCE Editor -->
            <textarea id="article" class="tinymce-editor">
            {{ article }}
            </textarea><!-- End TinyMCE Editor -->

            </div>
            <div class="card-footer">
                 <input id="task-code" type="hidden" value="{{ data.t_task_code }}">

                <button id="btn-save-do-task" type="button" class="btn btn-outline-primary"><i class="bi bi-save me-1"></i> Save Draft</button>

                <button style="display: none;" id="writer-submit-task-{{ data.t_task_code }}" type="button" class="btn btn-outline-success writer-submit-task"><i class="bi bi-arrow-return-right me-1"></i> Submit for Review</button>
            </div>
            {% else %}
            <div>
                <h5>Task already submitted</h5>
                <p>This task has already been submitted</p>
                <a href="{% url 'page-my-drafts' %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-save me-1"></i> Back to drafts</button></a>
            </div>
            {% endif %}

          </div>

    </div><!-- End Right side columns -->
      </div>
{% include "task-instructions-modal.html" %}
{% endblock %}