{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">
        <!-- Left side columns -->
<div class="col-lg-12">
{% if user.userrole == '4'  %}
    <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width: 50%;" scope="col">Title</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Deadline</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for task in drafts %}
                  <tr id="card-{{ task.t_task_code }}">
                    <td style="width: 40%; vertical-align: bottom;">
                        {{ task.task_title }}
                      <p class="small mt-3"><em>Created on {{ task.task_date }}</em></p>
                      </th>
                    <td style="vertical-align: bottom;"><strong>USD {{ task.payout|floatformat:2 }}</strong></td>
                    <td style="vertical-align: bottom;">{{ task.deadline }}</td>
                    <td style="vertical-align: bottom;">
                         <a href="{% url 'do-task' task.task_code %}"><button type="button" class="btn btn-outline-success"><i class="bi bi-check-circle me-1"></i> Do Task</button></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
{% else %}
<div>You are not permitted to access this page</div>
{% endif %}
</div><!-- End Right side columns -->
</div>
{% endblock %}