{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

<!-- Left side columns -->
<div class="col-lg-12">
<table class="table datatable">
<thead>
  <tr>
    <th style="width: 40%;" scope="col">Title</th>
    <th scope="col">Cost</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
{% for project in drafts %}
  <tr id="project-{{ project.p_code }}">
    <td style="width: 50%; vertical-align: bottom;">
    {{ project.p_title }}
    {% if project.p_status == 'clientdraft'  %}
    <a href="{% url 'page-edit-project' project.p_code %}"><i class="bi bi-pencil-square ms-1"></i> Edit </a>
    {% endif %}
    <p class="small mt-3"><em>{{ project.p_category }} / Created on {{ project.p_datetime }} - <span class="orange">{{ project.p_status }}</span></em></p>
    </td>
    <td style="vertical-align: bottom;">USD {{ project.p_usd_cost|floatformat:2 }}</td>
    <td style="vertical-align: bottom;">
    {% if user.userrole == '3'  %}
    <a href="{% url 'project-tasks' project.p_code %}"><button type="button" class="btn btn-outline-primary mt-2"><i class="bi bi-alarm ms-1"></i> View Tasks</button></a>
    {% if project.p_status == 'clientdraft'  %}
    <a href="{% url 'add-task' project.p_code %}"><button type="button" class="btn btn-outline-secondary mt-2"><i class="bi bi-folder-plus ms-1"></i> Add a Task</button></a>
    {% if project.p_usd_cost > 0%}
    <button id="{{ project.p_code }}" type="button" class="btn btn-outline-info mt-2 submit-project"><i class="bi bi-check-circle ms-1"></i> Wallet Checkout</button>
    <a href="{% url 'checkout' project.p_code %}"><button type="button" class="btn btn-outline-success mt-2"><i class="bi bi-check-circle ms-1"></i> Paypal Checkout</button></a>
    {% endif %}
    {% endif %}
    {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div><!-- End Right side columns -->
</div>
{% endblock %}