{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
{% for project in data.data reversed %}
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project.fields.p_title }} <a href="{% url 'page-edit-project' project.fields.p_code %}"><i class="bi bi-pencil-square ms-1"></i> Edit </a></h5>
                <p class="small">{{ project.fields.p_category }} | Created on {{ project.fields.p_datetime }} - <span class="orange">{{ project.fields.p_status }}</span></p>
              {{ project.fields.p_description }}
            </div>
            <div class="card-footer">
                <a href="{% url 'project-tasks' project.fields.p_code %}"><button type="button" class="btn btn-outline-primary"><i class="bi bi-alarm me-1"></i> View Tasks</button></a>
                <a href="{% url 'add-task' project.fields.p_code %}"><button type="button" class="btn btn-outline-secondary"><i class="bi bi-x-square ms-1"></i> Add a Task</button></a>
            </div>
          </div><!-- End Card with header and footer -->
{% endfor %}
    </div><!-- End Right side columns -->
      </div>
{% endblock %}