{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
    <div class="col-lg-12">


    <div class="alert alert-success fade show" role="alert">
    <h4 class="alert-heading">Your password has been updated successfully!</h4>
    <p>“It takes 20 years to build a reputation and few minutes of cyber-incident to ruin it.” – Stephane Nappo</p>
    <hr>
    <p class="mb-0">We appreciate your effort to keep your account secure.</p>
    </div>
</div>
</div><!-- End Pills Tabs -->

</div>
</div>
{% endblock %}