{% extends "index.html" %}
{% load humanize %}
{% block content %}
{% include 'writer-application-modal.html' %}
<div class="row">
<!-- Left side columns -->
<div class="col-lg-12">
<table class="table datatable">
<thead>
  <tr>
  <th style="width: 40%;" scope="col">Article Text</th>
  </tr>
</thead>
<tbody>
{% for application in applications %}
  <tr id="card-{{ application.a_id }}">
      <td style="vertical-align: bottom; width: 40%;">
          <div>{{ application.a_article|safe }}</div>
          <div class="orange"><em>{{ application.a_first_name }} {{ application.a_last_name }} - {{ application.a_datetime|timesince }} ago / {{ application.a_word_count }} words</em></div>

          <button id="approve-{{ application.a_id }}" type="button" class="btn btn-outline-success accept-application"><i class="bi bi-alarm me-1"></i> Accept</button>
        <button id="reject-{{ application.a_id }}" type="button" class="btn btn-outline-danger reject-application"><i class="bi bi-x-square ms-1"></i> Reject</button>
      </td>
  </tr>
{% endfor %}
</tbody>
</table>

</div><!-- End Right side columns -->
</div>
{% endblock %}