{% load static %}
<nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">

            {% if user.is_authenticated %}
            Hi {{ user.first_name }} {{ user.last_name }}!
            {% else %}
            Hi Writer
            {% endif %}


            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <span>{{ user.email }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'page-my-profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.userrole == '2'  %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'page-admin-config' %}">
                <i class="bi bi-person"></i>
                <span>System Config</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'page-writer-complete-tasks' %}">
                <i class="bi bi-app-indicator"></i>
                <span>My Complete Tasks</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
        {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
              </a>
            </li>
            {% else %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Login</span>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'signup' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Up</span>
              </a>
            </li>
      {% endif %}
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->