{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
{% for task in data.data %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ task.fields.t_title }} <a href="{% url 'page-edit-task' task.fields.t_task_code %}"><i class="bi bi-pencil-square ms-1"></i> Edit </a></h5>
                <p class="small">Created on {{ task.fields.t_datetime }}</p>

                <h3>Instructions</h3>
                <p>{{ task.fields.t_instructions }}</p>
                <p><strong>Number of words: </strong>{{ task.fields.t_word_count }} words ( {{ task.fields.t_wc_description }} )</p>

                 <h3 class="mt-5">Keywords</h3>
                <p>{{ task.fields.t_keywords }}</p>
                <p><strong>Keyword Repetition: </strong>{{ task.fields.t_keyword_repetition }} </p>

                <h3 class="mt-5">Help Document</h3>
                <div><a href="#">{{ task.fields.t_doc }}</a></div>

                <h3 class="mt-5">Other Options</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="bi bi-bookmarks me-1 text-primary"></i> Extra Proofreading: <strong>{{ task.fields.p_extra_proofreading|upper }}</strong></li>
                        <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i> Favourite Writers: <strong>{{ task.fields.p_favourite_writers|upper }}</strong></li>
                        <li class="list-group-item"><i class="bi bi-exclamation-octagon me-1 text-warning"></i> Priority Order: <strong>{{ task.fields.p_priority_order|upper }}</strong></li>
                        <li class="list-group-item"><i class="bi bi-app-indicator me-1 text-primary"></i> Expertise Level: <strong>{{ task.fields.p_writer_level|upper }}</strong></li>
                    </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'do-task' task.fields.t_task_code %}"><button type="button" class="btn btn-outline-success"><i class="bi bi-check-circle me-1"></i> Pick Task</button></a>
                <a href="#"><button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle ms-1"></i> Decline Task</button></a>
                <button type="button" class="btn btn-outline-primary"><i class="bi bi-calendar-check me-1"></i> Assign</button>
                <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil-square me-1"></i> Edit</button>
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-x-circle me-1"></i> Delete</button>

            </div>
          </div><!-- End Card with header and footer -->
{% endfor %}
    </div><!-- End Right side columns -->
      </div>
{% endblock %}