{% load static %}
{% if user.is_authenticated %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      {% if user.userrole == '2'  %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'admin-dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% endif %}
      {% if user.userrole == '3'  %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'client-dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% endif %}
      {% if user.userrole == '4'  %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'writer-dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% endif %}

      {% if user.userrole == '2'  %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#admin-projects" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="admin-projects" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li>
            <a href="{% url 'admin-complete-tasks' %}">
              <i class="bi bi-circle"></i><span>Complete Tasks</span>
            </a>
          </li>
            <li>
            <a href="{% url 'pending-admin-approvals' %}">
              <i class="bi bi-circle"></i><span>Pending Tasks Approval</span>
            </a>
          </li>
          <li>
            <a href="{% url 'pending-allocations' %}">
              <i class="bi bi-circle"></i><span>Pending Allocations</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin-client-draft-projects' %}">
              <i class="bi bi-circle"></i><span>Free Submit</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#admin-writers" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Writers</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="admin-writers" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'pending-writers-applications' %}">
              <i class="bi bi-circle"></i><span>Pending Writers Approval</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#email-templates" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Email Templates</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="email-templates" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/clapp/email-template/1">
              <i class="bi bi-circle"></i><span>Writer Registration</span>
            </a>
          </li>
           <li>
            <a href="/clapp/email-template/2">
              <i class="bi bi-circle"></i><span>Writer Acceptance</span>
            </a>
          </li>
           <li>
            <a href="/clapp/email-template/3">
              <i class="bi bi-circle"></i><span>Writer Decline</span>
            </a>
          </li>
           <li>
            <a href="/clapp/email-template/4">
              <i class="bi bi-circle"></i><span>Client Application</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#users" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>System Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="users" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li>
            <a href="{% url 'admins' %}">
              <i class="bi bi-circle"></i><span>Admins</span>
            </a>
          </li>
            <li>
            <a href="{% url 'writers' %}">
              <i class="bi bi-circle"></i><span>Writers</span>
            </a>
          </li>
          <li>
            <a href="{% url 'clients' %}">
              <i class="bi bi-circle"></i><span>Clients</span>
            </a>
          </li>
          <li>
            <a href="{% url 'online-users' %}">
              <i class="bi bi-circle"></i><span>Online Users</span>
            </a>
          </li>
           <li>
            <a href="{% url 'archived-users' %}">
              <i class="bi bi-circle"></i><span>Archived Users</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#report" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="report" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li>
            <a href="{% url 'pending-payments' %}">
              <i class="bi bi-circle"></i><span>Pending Payments</span>
            </a>
          </li>
           {% if user.userrole == '2' and user.email == 'gathogfrank@gmail.com' or user.email == 'isaacatuta@gmail.com' %}
          <li>
            <a href="{% url 'page-admin-wallet' %}">
              <i class="bi bi-circle"></i><span>Admin Wallet</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End Forms Nav -->
{% endif %}

{% if user.userrole == '3'  %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>My Projects</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'create-project' %}">
              <i class="bi bi-circle"></i><span>Create a Project</span>
            </a>
          </li>
          <li>
            <a href="{% url 'my-draft-projects' %}">
              <i class="bi bi-circle"></i><span>Draft Projects</span>
            </a>
          </li>
           <li>
            <a id="link-my-projects" href="{% url 'client-pending-projects' %}">
              <i class="bi bi-circle"></i><span>Pending Projects</span>
            </a>
          </li>
            <li>
            <a href="{% url 'client-complete-projects' %}">
              <i class="bi bi-circle"></i><span>Complete Projects</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
           <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#client-tasks" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>My Tasks</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="client-tasks" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'my-admin-approved-tasks' %}">
              <i class="bi bi-circle"></i><span>Received Tasks</span>
            </a>
          </li>
          <li>
            <a href="{% url 'page-client-pending-tasks' %}">
              <i class="bi bi-circle"></i><span>Pending Tasks</span>
            </a>
          </li>
            <li>
            <a href="{% url 'create-project' %}">
              <i class="bi bi-circle"></i><span>Complete Tasks</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
{% endif %}

{% if user.userrole == '4'  %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>My Tasks</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'page-my-drafts' %}">
              <i class="bi bi-circle"></i><span>My Drafts</span>
            </a>
          </li>
            <li>
            <a href="{% url 'available-tasks' %}">
              <i class="bi bi-circle"></i><span>Available Tasks</span>
            </a>
          </li>
           <li>
            <a href="{% url 'page-writer-pending-tasks' %}">
              <i class="bi bi-circle"></i><span>Pending Tasks</span>
            </a>
          </li>
           <li>
            <a href="{% url 'revision-tasks' %}">
              <i class="bi bi-circle"></i><span>Revision Tasks</span>
            </a>
          </li>
          <li>
            <a href="{% url 'page-writer-complete-tasks' %}">
              <i class="bi bi-circle"></i><span>Complete Tasks</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->
{% endif %}

      {% if user.userrole != '1' and user.userrole != '2' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Wallet</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          {% if user.userrole == '3'  %}
          <li>
            <a href="{% url 'topup-credit' %}">
              <i class="bi bi-circle"></i><span>Top Up Credit</span>
            </a>
          </li>
          {% endif %}
          {% if user.userrole == '4'  %}
          <li>
            <a href="{% url 'page-writer-wallet' %}">
              <i class="bi bi-circle"></i><span>Earnings Tracker</span>
            </a>
          </li>
          {% endif %}

           {% if user.userrole == '3'  %}
          <li>
            <a href="{% url 'page-client-wallet' %}">
              <i class="bi bi-circle"></i><span>My Wallet</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End Tables Nav -->
{% endif %}


      <li class="nav-heading">Other Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'page-my-profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login' %}">
          <i class="bi bi-question-circle"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Nav -->
    {% endif %}
    </ul>

  </aside><!-- End Sidebar-->
{% endif %}