<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  {% include "head.html" %}
</head>

<body>
<div style="display: none;" class="loading">Loading&#8230;</div>
  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'img/logo.png' %}" alt="">
                  <!--<span class="d-none d-lg-block">Content Lancers</span>-->
                </a>
              </div><!-- End Logo -->
<div class="col-md-12">
              <div id="signup-card" class="card mb-3">

                <div class="card-body">

                  <div class="pt-6 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Creat an Account</h5>
                    <p class="text-center small">Enter your details</p>
                  </div>

                  <form id="frm-create-account" class="row g-3 needs-validation" action="#" method="post" novalidate>
                  {% csrf_token %}
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="first-name" placeholder="First Name" autocomplete="off">
                      <label for="first-name">First Name</label>
                    </div>
                  </div>
                     <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="last-name" placeholder="Last Name" autocomplete="off">
                      <label for="last-name">Last Name</label>
                    </div>
                  </div>
                    <div class="col-md-12">
                  <div class="form-floating">
                    <select class="form-select" id="country" aria-label="State">
                      <option value="" selected>Choose Country...</option>
                      {% for country in countries %}
                      <option value="{{ country.c_pcode }}">{{ country.c_name }}</option>
                      {% endfor %}
                    </select>
                    <label for="country">Country</label>
                  </div>

                </div>
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="phone" placeholder="Phone" autocomplete="off">
                      <label for="phone">Phone</label>
                    </div>
                  </div>
                    <div class="col-md-12">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
                      <label for="phone">Email</label>
                    </div>
                      <hr>
                  </div>

                    <div class="col-md-12">
                    <div class="form-floating">
                      <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
                      <label for="password">Password</label>
                    </div>
                  </div>
                    <div class="col-md-12">
                    <div class="form-floating">
                      <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" autocomplete="off">
                      <label for="confirm-password">Confirm Password</label>
                    </div>
                  </div>
                    <div class="col-12">
                      <input id="userrole" type="hidden" value="3">
                      <button class="btn btn-secondary w-100" type="submit">Sign Up</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Do you have an account? <a href="{% url 'login' %}">Login</a></p>
                    </div>
                  </form>

                </div>
              </div>
</div>

              <div style="display: none;" id="signup-success" class="alert alert-success fade show" role="alert">
                <h4 class="alert-heading">Account created successfully!</h4><hr>
                <p class="mb-0">Thank you for joining us. Login to enjoy our services</p>
                <hr>
                <div><a href="{% url 'login' %}">Click here to login</a></div>
                </div>
             {% include "credits.html" %}

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 {% include "js-files.html" %}
</body>

</html>