{% extends "index.html" %}
{% load humanize %}
{% block content %}
<div class="row">

        <!-- Left side columns -->
<div class="col-lg-6">
          <div>

            <form id="frm-topup-wallet" method="post" action="/writersapp/topup-checkout/">
                {% csrf_token %}
            <div>

            <h5>Top Up Wallet</h5>

            <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" class="form-control" id="topup-amount" name="topup-amount" placeholder="First Name" autocomplete="off" required>
                  <label for="topup-amount">Amount in USD</label>
                </div>
              </div>
            <input id="topup-email" name="topup-email" type="hidden" value="{{ user.email }}">
            <button type="submit" class="btn btn-info mt-3"><i class="bi bi-check-circle me-1"></i> Proceed to checkout</button>
            </div>
            </form>

          </div><!-- End Card with header and footer -->


    </div><!-- End Right side columns -->
    </div>
{% endblock %}