<div class="modal fade" id="modal-writers-list" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Server Time: {{ server_time }} <br>
                <span class="orange">Currently assigned to: <span id="current-writer"></span></span>
            </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="task-code-holder" value="">
            <div id="favourite-note-div" style="display: none;" class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
            Note: The client has paid to be allocated their favourite writers.
            </div>
            {% if favourites %}
            <!-- Default List group -->
            <div class="orange"><strong>Client's preferred writers</strong></div>
              <ul class="list-group">
                  {% for favourite in favourites %}
                <li class="list-group-item">{{ favourite.f_writer_first_name }} {{ favourite.f_writer_lastname }}</li>
                  {% endfor %}
              </ul><!-- End Default List group -->
            {% else %}
            <div><em>This client has no preferred writers</em></div>
            {% endif %}

           <table class="table table-hover">
                <thead>
                  <tr>
                    <th style="text-align: left;" scope="col">Name</th>
                    <th style="text-align: left;" scope="col">Payout in USD</th>
                    <th style="text-align: left;" scope="col">Deadline</th>
                    <th style="text-align: left;" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>


                <tr style="background-color: #ccc;">
                    <td style="text-align: left;">
                        Any available writer
                    </td>
                    <td style="text-align: left;">
                        <span class="actual-payout"></span><br>
                        <input style="text-align:left;" type="number" class="admin-payout" id="admin-payout-general" value=""></td>
                    <td style="text-align: left;">
                        <input id="admin-date-general" type="date"><br>
                        <input id="admin-time-general" type="time" class="mt-2">
                    </td>
                    <td style="text-align: left;">
                        <a id="actual-task-avail-general" class="actual-task-avail" href="#"><button class="btn btn-outline-success"><i class="bi bi-check-circle me-1"></i> Make Available</button></a>
                    </td>
                  </tr>


                {% for writer in writers %}
                  <tr>
                    <td style="text-align: left;">
                        <i class="bi bi-stars ms-1 orange"></i> {{ writer.rating_stars }}<br>
                        {{ writer.first_name }} {{ writer.last_name }}</td>
                    <td style="text-align: left;">
                        <span class="actual-payout"></span><br>
                        <input style="text-align:left;" type="number" class="admin-payout" id="admin-payout-{{ writer.user_id }}" value=""></td>
                    <td style="text-align: left;">
                        <input id="admin-date-{{ writer.user_id }}" type="date"><br>
                        <input id="admin-time-{{ writer.user_id }}" type="time" class="mt-2">
                    </td>
                    <td style="text-align: left;">
                        <a id="actual-task-assign-{{ writer.user_id }}" class="actual-task-assign" href="#"><button class="btn btn-outline-info"><i class="bi bi-check-circle me-1"></i> Assign</button></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>