{% load static %}
<!--   Core JS Files   -->
	<script src="{% static 'wizard/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>

	<!--Custom-->
	<script src="{% static 'wizard/js/custom/create-project.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/custom/cookies.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/custom/csrf.js' %}" type="text/javascript"></script>

	<!--Sweet alerts-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!--  Plugin for the Wizard -->
	<script src="{% static 'wizard/js/demo.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/paper-bootstrap-wizard.js' %}" type="text/javascript"></script>

	<!--Quill-->
	<script src="{% static 'wizard/quill/quill.min.js' %}"></script>
	<!--<script src="{% static 'wizard/tinymce/quill.min.js' %}"></script>-->

	<!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
	<script src="{% static 'wizard/js/jquery.validate.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/card-buttons.js' %}" type="text/javascript"></script>

	<script src="{% static 'wizard/js/main.js' %}" type="text/javascript"></script>
	<script src="{% static 'wizard/js/file-upload.js' %}" type="text/javascript"></script>

